    /* Gray */
    
    $dark_gray:       #666666;
    $gray:            #cccccc;
    $light_gray:      #eeeeee;
    $very_light_gray: #fafafa;
    
    /* Yellow */
    
    $dark_yellow:       #CCCC00;
    $very_dark_yellow:  darken($dark_yellow, 25%);
    